.box  {
  display: flex;
  width: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrow {
  font-weight: bold;
  font-size: 20px;
  /* Choose the animation */
  animation-name: movingArrow;

  /* The animation’s duration */
  animation-duration: 800ms;

  /* The number of times we want
      the animation to run */
  animation-iteration-count: infinite;

  /* Causes the animation to reverse
      on every odd iteration */
  animation-direction: alternate;
}

@keyframes movingArrow {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 20px);
  }
}
