<nav>
  <a routerLinkActive="active" routerLink="/btn">btn</a>
  <a routerLinkActive="active" routerLink="/tog">toggle-box</a>
  <a routerLinkActive="active" routerLink="/nir">nir</a>
</nav>
<div class="container">
  <p>Animate mode: {{isAnimate ? 'On' : 'Off' }}</p>
  <button (click)="isAnimate = true">ON</button>
  <button (click)="isAnimate = false">OFF</button>
</div>

<div *ngIf="isAnimate;" [@routeAnimations]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<router-outlet *ngIf="!isAnimate"></router-outlet>


